mixin dropdown({title,variables})
    .dropdown
        h3.title=title
        case variables
            when "rooms"
                .rooms.iqdropdown
                    p.iqdropdown-selection Удобства
                    .iqdropdown-menu
                        .iqdropdown-menu-option(id="item1")
                            .iqdropdown-content
                                p.iqdropdown-item Спальни
                        .iqdropdown-menu-option(id="item2")
                            .iqdropdown-content
                                p.iqdropdown-item Кровати
                        .iqdropdown-menu-option(id="item3")
                            .iqdropdown-content
                                p.iqdropdown-item Комнаты

            when "guests"
                .guests.iqdropdown
                    p.iqdropdown-selection Сколько гостей
                    .iqdropdown-menu
                        .iqdropdown-menu-option(id="item1")
                            .iqdropdown-content
                                p.iqdropdown-item Взрослые
                        .iqdropdown-menu-option(id="item2")
                            .iqdropdown-content
                                p.iqdropdown-item Дети
                        .iqdropdown-menu-option(id="item3")
                            .iqdropdown-content
                                p.iqdropdown-item Младенцы
                        button(class="iqdropdown-menu-close") Применить

        
        

