@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';
@import '../../scss/styles.scss';

@import '../../components/chart/chart.scss';
@import '../../components/advantage/advantage.scss';
@import '../../components/footer/footer.scss';
@import '../../components/header/header.scss';
@import '../../components/booking/booking.scss';
@import '../../components/review/review.scss';
@import '../../components/bullet-list/bullet-list.scss';


.room-details{
    &__main{
        margin: 0 auto;
    }
    &__gallery{
        object-fit: cover;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        object-fit: cover;
        white-space: nowrap;

        @media screen and (max-width:660px){
            margin-bottom: 30px;
        }   

        &_big{
            grid-row: 1 / 3;
            grid-column: 1 / 3;
        }
        &_img{
            width: 100%;
            height: 100%;
            float: left;
        }
    }

    &__container{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;

        @media screen and (max-width: 1173px) {
            flex-direction: column;
            align-items: center;     
        }
    }

    &__content{
        margin-right: 20px;
    }

    &__item{
        display: flex;
        justify-content: space-between;


        @media screen and (max-width: 620px) {
            align-items: center;
            flex-direction: column;
            margin-left: 20px;
            margin-bottom: 20px;

            &:nth-child(2){
                margin-bottom: 0;
            }
        }
    }

    &__title{
        @include h2;
        text-transform: none;
        margin-bottom: 22px;
        @media screen and (max-width: 620px) {
            text-align: center;
        }
        
    }

    &__text{
        @include body;
    }
    
    &__cancel{
        max-width: 320px;
    }
}


