@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';
@import '../../scss/styles.scss';

@import '../../components/chart/chart.scss';
@import '../../components/advantage/advantage.scss';
@import '../../components/footer/footer.scss';
@import '../../components/header/header.scss';
@import '../../components/booking/booking.scss';
@import '../../components/review/review.scss';

.room-details{

    &__gallery{

        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        object-fit: cover;
        white-space: nowrap;

        &_1{
            grid-row: 1 / 3;
            grid-column: 1 / 3;
        }
        &_img{
            width: 100%;
            height: 100%;
            float: left;
        }
    }
    &__container{
        display: flex;
        width: 1170px;
        margin: 0 auto;
    }
    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'advantage rating'
            'review review'
            'bullet cancel';
    }
    &__title{
        @include h2;
        text-transform: none;
        margin-bottom: 22px;
        &_margin{
            padding-left: 20px;
        }
    }
    &__review{
        margin-bottom: 30px;
    }
    &__text{
        @include body;
    }
    &__advantage{
        grid-area: advantage;
    }
    &__rating{
        grid-area: rating;
    }
    &__review{
        grid-area: review;
    }
    &__review{
        grid-area: review;
    }
    &__bullet-list{
        grid-area: bullet;
    }
    &__cancel{
        grid-area: cancel;
    }
}
.gallery{
    margin: 0 auto;
    max-width: 1440px;
    object-fit: cover;
    margin-bottom: 70px;
}
.advantage__item{
    margin-bottom: 41px;
    &:last-child{
        margin-bottom: 30px;
    }
}