@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';

.pagination{
    
    &__container{
        display: flex;
        justify-content: center;
    }
    &__item{
        cursor: pointer;
        @include h3;
        color: $dark50;
        text-transform: none;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        &:hover {
            color:#ffffff;
            background: linear-gradient(180deg,#BC9CFF 0%, #8BA4F9 100%);
            opacity: 75%;
            border-radius: 22px;
        }

        &_selected{
            color: #ffffff;
            background: $gradient-purple;
            border-radius: 22px;
        }

        &_next{
            @include material-icons;
            color: #ffffff;
            background: $gradient-green;
            border-radius: 22px;
        }
    }
    &__description{
        margin-top: 10.56px;
        text-align: center;
        color: $dark75;
    }
}