extends ../base/base
include ../../components/header/header
include ../../components/footer/footer
include ../../components/find-room/find-room

block title  
    title Toxin | Landing page

block main
    body
        header.landing-page__header
            +header([
                {name:"О нас"},
                {name:"Услуги",sub:true},
                {name:"Вакансии"},
                {name:"Новости"},
                {name:"Соглашения",sub:true}
            ])
        main.landing-page__main
            .landing-page__container
                +find-room({title:"Найдём номера под ваши пожелания"})
        footer.landing-page__footer
            +footer("default",
                "Бронирование номеров в лучшем отеле 2021 года по версии ассоциации «Отельные взгляды»",
                "Подписка",
                "Получайте специальные предложения и новости сервиса",
                [{
                title:"Навигация",
                items: [
                    {text:"О нас"},
                    {text:"Новости"},
                    {text:"Служба поддержки"},
                    {text:"Услуги"}
                    ]
                },
                {
                title:"О нас",
                items: [
                    {text:"О сервисе"},
                    {text:"Наша команда"},
                    {text:"Вакансии"},
                    {text:"Инвесторы"}
                    ]
                },
                {
                title:"Служба поддержки",
                items: [
                    {text:"Соглашения"},
                    {text:"Сообщество"},
                    {text:"Связь с нами"}
                    ]
                }
                ])
