extends ../base/base
include ../../components/colors/colors
include ../../components/type/type

block title  
    title Toxin 

block main
    body 
        .ui-kit_section-colors-type
            img.img__ui-kit(src="../src/pages/ui-kit/img/Group.svg")
            .colors-type
                +colors([
                    {name: "Dark shade 100%",hex:"#1F2041",class:"colors__item_color-ds100"},
                    {name: "Dark shade 75%",hex:"#1F2041",class:"colors__item_color-ds75"},
                    {name: "Dark shade 50%",hex:"#1F2041",class:"colors__item_color-ds50"},
                    {name: "Dark shade 25%",hex:"#1F2041",class:"colors__item_color-ds25"},
                    {name: "Dark shade 5%",hex:"#1F2041",class:"colors__item_color-ds5"},
                    {name: "Purple",hex:"#BC9CFF",class:"colors__item_color-purple"},
                    {name: "Green",hex:"#6FCF97",class:"colors__item_color-green"}
                ])
                +type([
                    {class:"type_h1",heading: "H1",description:"This one is the sub-section or widget title"},
                    {class:"type_h2",heading: "H2",description:"Next one is the item title inside widgets"},
                    {class:"type_h3",heading: "H3",description:"THIS IS A LABEL OR CTA TEXT"},
                    {class:"type_body",heading: "Body",description:"This is the body text which is used for most of the design, like paragraphs, lists, etc."},
                ])
        .ui-kit_section-form-elements
            img.img__ui-kit(src="../src/pages/ui-kit/img/Group.svg")