@import '../../scss/reset.scss';
@import '../../scss/vars.scss';
@import '../../scss/fonts.scss';
@import '../../components/type/type.scss';
@import '../../components/colors/colors.scss';
@import '../../components/field/field.scss';
@import '../../scss/styles.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/checkbox/checkbox.scss';
@import '../../components/checkbox-list/checkbox-list.scss';
@import '../../components/radio/radio.scss';
@import '../../components/like/like.scss';
@import '../../components/rate/rate.scss';
@import '../../components/review/review.scss';
@import '../../components/advantages/advantages.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/button/button.scss';
@import '../../components/find-room/find-room.scss';
@import '../../components/sign-up/sign-up.scss';

h3{
    @include h3;
}
.ui-kit{
    margin: 0 0 151px 0;
}
.ui-kit__img{
    margin: 30px 0 67px 30px;
}

.form-elements{
    &__container{
        display:flex;
        justify-content: space-between;
        margin: 0 141px 60px;
    }
    &__item{
        margin-bottom: 20px;
        &_buttons{
            margin-bottom: 40px;
            &_checkbox{
                padding-right: 60px;
                margin-bottom: 40px;
                line-height: 18px;
            }
        }
        &_arrival{
            margin-right: 20px;
        }
    }
    &__column_radio{
        max-width: 300px;
    }
    &__column_review{
        padding-top: 10px;
    }
    &__item.date-dropdown{
        margin: 40px 0;
        display: flex;
        max-width: 320px;
    }
    &__slider{
        width: 320px;
    }
    &__width{
        width: 267px;
        .form-elements__item{
            margin: 40px 0;
        }
    }
}
.elem__title{
    padding-bottom: 16px;
}
.date-picker.date-dropdown{
    margin: 40px 0;
    display: flex;
    max-width: 320px;
}
.rating__buttons{
    display: inline-block;
    margin-right: 20px;
}
.dropdown__little{
    min-width: 266px;
}
.dropdown__big{
    min-width: 320px;
}
.like_button{
    &_1{
        margin-right: 10px;
        display: inline-block;
    }
    &_2{
        display: inline-block;
    }
}
