extends ../base/base
include ../../components/colors/colors
include ../../components/type/type
include ../../components/field/field
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/checkbox-list/checkbox-list
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/rate/rate
include ../../components/like/like
include ../../components/bullet-list/bullet-list
include ../../components/review/review
include ../../components/advantages/advantages
include ../../components/button/button
include ../../components/find-room/find-room
include ../../components/sign-up/sign-up
include ../../components/log-in/log-in

block title  
    title Toxin | Ui kit

block main
    body
        .ui-kit
            .ui-kit_section-colors-type
                img.ui-kit__img(src="Group.svg")
                .colors-type
                    +colors([
                        {class:"colors__item_color-ds100",name: "Dark Shade 100%",hex:"#1F2041"},
                        {class:"colors__item_color-ds75",name: "Dark Shade 75%",hex:"#1F2041"},
                        {class:"colors__item_color-ds50",name: "Dark Shade 50%",hex:"#1F2041"},
                        {class:"colors__item_color-ds25",name: "Dark Shade 25%",hex:"#1F2041"},
                        {class:"colors__item_color-ds5",name: "Dark Shade 5%",hex:"#1F2041"},
                        {class:"colors__item_color-purple",name: "Purple",hex:"#BC9CFF"},
                        {class:"colors__item_color-green",name: "Green",hex:"#6FCF97"}
                    ])
                    +type([
                        {class:"type__type-h1",heading: "H1",description:"This one is the sub-section or widget title"},
                        {class:"type__type-h2",heading: "H2",description:"Next one is the item title inside widgets"},
                        {class:"type__type-h3",heading: "H3",description:"This is a label or CTA text"},
                        {class:"type__type-body",heading: "Body",description:"This is the body text which is used for most of the design, like paragraphs, lists, etc."},
                    ])
            .ui-kit__section-form-elements
                img.ui-kit__img(src="Group.svg")
                .form-elements__container
                    .form-elements__column
                        .form-elements__item
                            +field({title:"Text field",placeholder:"Email"})
                        .form-elements__item
                            +field({title:"Text field",value:"This is pretty awesome"})
                        .form-elements__item
                            +field({theme:"with-dropdown",title:"Dropdown",value:"Сколько гостей"})
                        .form-elements__item
                            +field({title:"Masked text field",placeholder:"ДД.ММ.ГГГГ",disabled:"disabled"})
                        .form-elements__item
                            .date-picker.date-dropdown
                                .form-elements__item_arrival
                                    +field({theme:"with-dropdown",title:"date dropdown",placeholder:"ДД.ММ.ГГГГ",classes:"datepicker__dropdown"})
                                .form-elements__item_departure
                                    +field({theme:"with-dropdown",title:"date dropdown",placeholder:"ДД.ММ.ГГГГ",classes:"datepicker__dropdown"})
                        .form-elements__width
                            .form-elements__item
                                +field({theme:"with-dropdown",title:"filter date dropdown",placeholder:"ДД.ММ.ГГГГ",value:"19 авг - 23 авг",classes:"filter-date"})
                            .form-elements__item
                                +field({theme:"with-arrow",title:"subscription text field",placeholder:"Email"})
                    .form-elements__column_radio
                        .form-elements__item_buttons_checkbox
                            +checkbox-list({
                                title:"checkbox buttons",
                                items:[
                                {label:"Можно курить"},
                                {label:"Можно с питомцами",checked:"checked"},
                                {label:"Можно пригласить гостей (до 10 человек)",checked:"checked"}
                                ]})
                        .form-elements__item_buttons
                            .radio_butt
                                h3.elem__title radio buttons
                                +radio({description:"Мужчина",name:"sex",checked:"checked"})
                                +radio({description:"Женщина",name:"sex"})
                        .form-elements__item_buttons
                            .toggle__butt
                                h3.elem__title toggle
                                .togglick
                                    +toggle({text:"Получать спецпредложения",checked:"checked"})
                                .togglick
                                    +toggle({text:"Получать спецпредложения"})
                        .form-elements__item_buttons
                            .like_button
                                h3.elem__title like button
                                .like_button_1
                                    +like({likes:"2"})
                                .like_button_2
                                    +like({likes:"12", theme:"checked"})
                        .form-elements__item
                            .rating_button
                                h3.elem__title rate button
                                .rating__buttons
                                    +rate({rate: "4"})
                                .rating__buttons
                                    +rate({rate: "5"})
                    .form-elements__column
                        .form-elements__item
                            .form-elements__slider
                                +range-slider({title:"range slider"})
                        .form-elements__item
                            .form-elements__buttons
                                h3.elem__title buttons
                                    +button({text:"click me"})
                                    +button({theme:"with-border",text:"click me"})
                                .block
                                    +button({theme:"without-background",text:"click me"})
                                    +button({theme:"with-arrow",text:"Перейти к оплате",arrow:"arrow_forward"})
                        .form-elements__item
                            .form-elements__buttons
                                h3.elem__title pagination
                .form-elements__container
                    .form-elements__column
                        .dropdown__little
                            +dropdown({title:"dropdown",variables:"rooms",theme:"with-dropdown"})
                    .form-elements__column
                        .dropdown__big
                            +dropdown({title:"dropdown",variables:"guests"})
                .form-elements__container
                    .form-elements__column
                        +checkbox-list({
                            title: "expandable checkbox list",
                            items:[
                                {label:"Завтрак"},
                                {label:"Письменный стол",checked:"checked"},
                                {label:"Стул для кормления",checked:"checked"},
                                {label:"Кроватка",checked:"checked"},
                                {label:"Телевизор"},
                                {label:"Шампунь"},
                            ]
                        })
                    .form-elements__column
                        +checkbox-list({
                                title:"rich checkbox buttons",
                                items:[
                                {theme:"rich",label:"Широкий коридор",description:"Ширина коридоров в номере не менее 91 см."},
                                {theme:"rich",label:"Помощник для инвалидов",description:"На 1 этаже вас встретит специалист  и проводит до номера."},
                                ]})
                    .form-elements__column
                        h3.elem__title bullet list
                        +bullet-list({title:"bullet list", items:["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]})
                .form-elements__container
                    .form-elements__column
                        +advantage({icon:"mood",title:"Комфорт",description:"Шумопоглощающие стены"})
                        +advantage({icon:"location_city",title:"Удобства",description:"Окно в каждей из спален"})
                    .form-elements__column_review
                        +review({url:"image.jpg",username:"Мурад Сарафанов",date:"5 дней назад",likes:"12",theme:"checked",text:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
            .ui-kit_section-cards
            img.ui-kit__img(src="Group.svg")
            .cards
                .card__column
                    .room-seacrh-container
                        +find-room({title:"Найдём номера под ваши пожелания"})
                    .sign-up__container
                        +sign-up({title:"Регистрация аккаунта"})
                .card__column
                    .log-in__container
                        

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")