@import '../../scss/vars.scss';
@import '../../scss/fonts.scss';

html,body{
    font-family: $default-font;
    color: $dark100;
    margin:0 auto;
    width: 100%;
    min-height: 100vh;
}

.type__heading{
    color: $dark25;
}
.type_body{
    line-height: 24px;
    .type__description{
        color: $dark75;
    }
}
.type__heading{
    text-align: right;
}
.colors-type{
    display:flex;
    justify-content:space-between;
}
.colors{
    margin-left: 150px;

    &__box{
        height:70px;
        width: 70px;
        margin-right:20px;
        border-radius: 6px;
    }
    &__item{
        padding-top:30px;
        display:flex;
        align-items: center;
    }
    &__title{
        padding-bottom: 5px;
        font-weight: 700;
    }
}

.type{
    width: 436px;
    margin-right:150px;

    &_h1{
        color:$dark100;
        line-height: 29.26px;
        font-size:24px;
        .type__description{
            font-weight: bold;
        }
    }
    &_h2{
        line-height: 23.16px;
        color:$dark100;
        font-size:19px;
        .type__description{
            font-weight: bold;
        }
    }
    &_h3{
        color:$dark100;
        line-height: 14.26px;
        font-size:12px;
        .type__description{
            font-weight: bold;
        }
    }
    &__item{
        margin-top:51px;
    }
    &__heading{
        text-align: right;
    }
    &__description{
        width: 369px;
        float:right;
    }

}
.colors__item{
    &_color-ds100{
        background-color: $dark100;
    }
    &_color-ds75{
        background-color: $dark75;
    }
    &_color-ds50{
        background-color: $dark50;
    }
    &_color-ds25{
        background-color: $dark25;
    }
    &_color-ds5{
        background-color: $dark5;
    }
    &_color-purple{
        background-color: $purple;
    }
    &_color-green{
        background-color: $green;
    }
}