.rating{
    display:flex;
    flex-direction:row-reverse;
}
.rating input{
    display:none;
}
.rating label{
    cursor:pointer;
    display:block;
    width:50px;
    background:#fff;
}
.rating label::before{
    position:relative;
    display:block;
    content:' ';
    width:20px;
    height:20px;
    border: 1px solid red;
    border-radius:50%;
}
.rating label::after{
    content:' ';
    position:absolute;
    top:9px;
    opacity:0;
    width:20px;
    height:20px;
    background:blue;
    display:block;
    border: 1px solid black;
    border-radius: 50%;
}
  
.rating input:checked ~ label::after {
    opacity:1;
}