@import '../../scss/vars.scss';
@import '../../scss/mixin.scss';

.advantage{
    display: flex;
    gap:10px;

    &__icon{
        font-size: 48px;
        background: $gradient-purple;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__content{
        color: $dark75;
        @include body;
    }
    
    &__title{
        font-weight: 700;
    }
}
