mixin advantage({icon,title,description})
    .advantage
        .advantage__icon.material-icons= icon
        .advantage__content
            p.advantage__title=title
            p.advantage__description=description