@import '../../scss/mixin.scss';

.button-with-background{
    display: flex;
    height: 44px;
    width: 100%;
    border-radius: 22px;
    background: $gradient-purple;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &_small{
        height: 35px
    }

    &__text{
        @include h3;
        color: #FFFFFF;
        padding: 14px 21px 15px 19px;
    }
    &:hover{
        opacity: 50%;
    }
}

.button-with-border{
    display: flex;
    padding: 13px;
    width: 100%;
    @include h3;
    color: #BC9CFF;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 22px;
    &_small{
        padding: 8px 18px;
    }
}
.border-wrap{
    background: $gradient-purple;
    padding: 2px;
    border-radius: 22px;
    &:hover{
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    }
}

.button-without-background{ 
    @include h3;
    color: #BC9CFF;
    cursor: pointer;
    max-width: 61px;

    &:hover{
        color: $dark50;
    }
}

.button-with-arrow{
    display: flex;
    color: #FFFFFF;
    height: 44px; 
    max-width: 320px;
    border-radius: 22px;
    background: $gradient-purple;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    

    &__text{
        @include h3;
        color: #FFFFFF;
    }
    &:hover{
        opacity: 50%;
    }
    &::after{
        @include material-icons;
        position: absolute;
        content: 'arrow_forward';
        text-transform: none;
        right: 10px;
        top: 10px;
    }
}