@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';

.button-with-background{
    display: flex;
    border-radius: 22px;
    background: $gradient-purple;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &_small{
        height: 35px
    }

    &__text{
        @include h3;
        color: #FFFFFF;
        padding: 15px 19px;
    }
    
    &:hover{
        opacity: 50%;
    }
}

.button-with-border{
    display: flex;
    justify-content: center;
    background: $gradient-purple;
    padding: 2px 2px;
    border-radius: 22px;
    cursor: pointer;

    &__wrapper{
        @include h3;
        padding: 8px 18px 8px 19px;
        border-radius: 22px;
        background-color: #FFFFFF;
        text-align: center;
        width: 100%;
    }

    &__text{
        color: #BC9CFF;
    }

    &:hover{
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    }
}

.button-without-background{ 
    @include h3;
    color: #BC9CFF;
    cursor: pointer;

    &:hover{
        color: $dark50;
    }
}

.button-with-arrow{
    display: flex;
    color: #FFFFFF;
    border-radius: 22px;
    background: $gradient-purple;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    
    &__text{
        @include h3;
        color: #FFFFFF;
        padding: 15px 19px;
    }

    &:hover{
        opacity: 50%;
    }

    &::after{
        @include material-icons;
        position: absolute;
        content: 'arrow_forward';
        text-transform: none;
        right: 10px;
        top: 10px;
    }
}