mixin like({likes,theme, classes})
    case theme
        default
            .like
                span.like__icon.material-icons favorite_border
                span.like__count=likes
        when "checked"
            .like.like__checked
                span.like__icon.material-icons favorite
                span.like__count=likes
        
    