include ../button/button
include ../field/field
include ../dropdown/dropdown

mixin booking()
    form.booking
        .booking__title
            .booking__number
                span.booking__number-icon №
                span.booking__number-value 888
                span.booking__number-text люкс
            .booking__price-per-day
                span.booking__cost 9 990₽
                span.booking__date в сутки
        .booking__calendar
            .booking__calendar-arrive
                +field({theme:"with-dropdown",title:"Прибытие",classes:"arrival",value:"ДД.ММ.ГГГГ"})
            .booking__calendar-departure
                +field({theme:"with-dropdown",title:"Выезд",classes:"departure",value:"ДД.ММ.ГГГГ"})
        .booking__dropdown
            +dropdown({variables:"guests",title:"Гости"})
        .booking__items
            .booking__service
                span.booking__text 9 990₽ х 4 суток
                span.booking__text 39 960₽
            .booking__service
                span.booking__text Сбор за услуги: скидка 2 179₽
                span.booking__text 0₽
            .booking__service
                span.booking__text Сбор за дополнительные услуги
                span.booking__text 300₽
        .booking__total
            span.booking__total-summary Итого
            span.booking__total-line
            span.booking__total-price 38 081₽ 
        .booking__button
            +button({theme:"with-arrow",text:"Забронировать"})