extends ../base/base
include ../../components/field/field
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/checkbox-list/checkbox-list
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/rate/rate
include ../../components/like/like
include ../../components/bullet-list/bullet-list
include ../../components/review/review
include ../../components/advantage/advantage
include ../../components/button/button
include ../../components/pagination/pagination

block title  
    title Toxin | Form elements

block main
    body
        .form-elements
            a.form-elements__logo(href="index.html")
                img.form-elements__img(src=require("/src/assets/Group.svg"))
            .form-elements__main
                .form-elements__container
                    .form-elements__column
                        .form-elements__item
                            +field({title:"Text field",placeholder:"Email"})
                        .form-elements__item
                            +field({title:"Text field",value:"This is pretty awesome"})
                        .form-elements__item
                            +field({theme:"with-dropdown",title:"Dropdown",value:"Сколько гостей"})
                        .form-elements__item
                            +field({title:"Masked text field",placeholder:"ДД.ММ.ГГГГ"})
                        .form-elements__item
                            .date-picker.date-dropdown
                                .form-elements__item_arrival
                                    +field({theme:"with-dropdown",title:"date dropdown",placeholder:"ДД.ММ.ГГГГ",classes:"arrival"})
                                .form-elements__item_departure
                                    +field({theme:"with-dropdown",title:"date dropdown",placeholder:"ДД.ММ.ГГГГ",classes:"departure"})
                        .form-elemnts__item
                            .form-elements__field_filter-date-dropdown
                                +field({theme:"with-dropdown",title:"filter date dropdown",placeholder:"ДД.ММ.ГГГГ",value:"19 авг - 23 авг",classes:"filter-date"})
                            .form-elements__field_subscription
                                +field({theme:"with-arrow",title:"subscription text field",placeholder:"Email"})
                    .form-elements__column
                        .form-elements__item
                            +checkbox-list({
                                title:"checkbox buttons",
                                items:[
                                {text:"Можно курить"},
                                {text:"Можно с питомцами",checked:"checked"},
                                {text:"Можно пригласить гостей (до 10 человек)",checked:"checked"}
                                ]})
                        .form-elements__item
                            h3.form-elements__title radio buttons
                            .form-elements__radio
                                +radio({description:"Мужчина",name:"sex",checked:"checked"})
                            .form-elements__radio
                                +radio({description:"Женщина",name:"sex"})
                        .form-elements__item
                            h3.form-elements__title toggle
                            .form-elements__toggle
                                +toggle({text:"Получать спецпредложения",checked:"checked"})
                            .form-elements__toggle
                                +toggle({text:"Получать спецпредложения"})
                        .form-elements__item
                            h3.form-elements__title like button
                            .like_button
                                +like({likes:"2"})
                            .like_button
                                +like({likes:"12", theme:"checked"})
                        .form-elements__item
                            h3.form-elements__title rate button
                            .form-elements__rate
                                +rate({rate: "4"})
                            .form-elements__rate
                                +rate({rate: "5"})
                    .form-elements__column
                        .form-elements__item
                            .form-elements__slider
                                +range-slider({title:"range slider"})
                        .form-elements__item
                            h3.form-elements__title buttons
                            .form-elements__btn
                                +button({text:"click me"})
                            .form-elements__btn 
                                +button({theme:"with-border",classes:"button-with-border_small",text:"click me"})
                            .form-elements__btn
                                +button({theme:"without-background",text:"click me"})
                            .form-elements__btn
                                +button({theme:"with-arrow",text:"Перейти к оплате"})
                        .form-elements__item
                            h3.form-elements__title pagination
                            .form-elements__pagination
                                +pagination()
                .form-elements__container
                    .form-elements__column
                        .form-elements__item
                            +dropdown({title:"dropdown",variables:"rooms",theme:"with-dropdown"})
                    .form-elements__column
                        .form-elements__item
                            +dropdown({title:"dropdown",variables:"guests"})
                .form-elements__container
                    .form-elements__column
                        .form-elements__item
                            +checkbox-list({theme:"expandable",
                                title: "expandable checkbox list",
                                items:[
                                    {text:"Завтрак"},
                                    {text:"Письменный стол",checked:"checked"},
                                    {text:"Стул для кормления",checked:"checked"},
                                    {text:"Кроватка",checked:"checked"},
                                    {text:"Телевизор"},
                                    {text:"Шампунь"},
                                ]
                            })
                    .form-elements__column
                        .form-elements__item
                            +checkbox-list({
                                title:"rich checkbox buttons",
                                items:[
                                {theme:"rich",text:"Широкий коридор",description:"Ширина коридоров в номере не менее 91 см."},
                                {theme:"rich",text:"Помощник для инвалидов",description:"На 1 этаже вас встретит специалист  и проводит до номера."},
                                ]
                            })
                    .form-elements__column
                        .form-elements__item
                            h3.form-elements__title bullet list
                            +bullet-list({title:"bullet list", items:["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]})
                .form-elements__container
                    .form-elements__column
                        .form-elements__item
                            .form-elements__advantage
                                +advantage({icon:"mood",title:"Комфорт",description:"Шумопоглощающие стены"})
                            .form-elements__advantage
                                +advantage({icon:"location_city",title:"Удобства",description:"Окно в каждей из спален"})
                    .form-elements__column
                        .form-elements__item
                            +review({url:require("/src/pages/form-elements/img/image.png"),username:"Мурад Сарафанов",date:"5 дней назад",likes:"12",theme:"checked",text:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
                        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")