@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';

.rate {
    display: inline-block;

    &__star {
        cursor: default;
        display: inline-block;
        color: $purple;
        height: 24px;
        width: 24px;
        background: url('../../components/rate/img/star.svg') no-repeat;

        &_outline {
            background: url('../../components/rate/img/star-border.svg') no-repeat;
        }
    }
}