@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';
@import '../../scss/styles.scss';


.registration{
    &__main{
        background: url(./img/imag.jpg) no-repeat center top;
    }
    &__container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 19px 0 19px 0;
    }
}