.checkbox-list{
    &__starege{
        margin-bottom: 12px;
    }
    &__title{
        margin-bottom: 16px;
    }
    &__list{
        display: none;
    }
    &__exp:hover .checkbox-list__list{
        display: block;
    }
}