.checkbox-list{
    &__starege{
        margin-bottom: 12px;
    }
    &__title{
        margin-bottom: 16px;
    }
    &__details .checkbox-list__summary{
        list-style: none;
        cursor: pointer;
        position: relative;
        &::after{
            @include material-icons;
            content:'expand_more';
            position: absolute;
            top: -4px;
            right: 10px;
        }
    }
    &__details[open] .checkbox-list__summary::after{
        @include material-icons;
        content:'expand_more';
        position: absolute;
        top: -4px;
        right: 10px;
        transform: rotate(180deg);
    }
}


