include ../checkbox/checkbox

mixin checkbox-list({theme,title,items})
    case theme
        default
            h3.checkbox-list__title=title
            ul.checkbox-list__list
                each item in items
                    li.checkbox-list__starege
                        +checkbox(item)

        when "expandable"
            details.checkbox-list__details
                summary.checkbox-list__summary
                    h3.checkbox-list__title=title
                ul.checkbox-list__list
                    each item in items
                        li.checkbox-list__starege
                            +checkbox(item)
