@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';
@import '../../scss/styles.scss';

.index {
    margin-top: 20px;

    &__item{
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        color: black;
    }
}