.index
    a.index__item(href="colors-type.html") colors-type
    a.index__item(href="form-elements.html") form-elements
    a.index__item(href="cards.html") cards
    a.index__item(href="headers-footers.html") headers-footers
    a.index__item(href="landing-page.html") landing-page
    a.index__item(href="registration.html") registartion
    a.index__item(href="sign-in.html") sign-in
    a.index__item(href="room-details.html") room-details
    a.index__item(href="search-room.html") search-room