include ../button/button
include ../field/field

mixin log-in({title})
    .log-in
        h1.log-in__title=title
        .log-in__email
            +field({placeholder:"Email"})
        .log-in__password
            +field({placeholder:"Password"})
        .log-in__button
            +button({theme:"with-arrow",text:"Войти"})
        .log-in__sign-up
            p.log-in__text Нет аккаунта на Toxin?
            +button({text:"Создать"})