@import '../../scss/vars.scss';
@import '../../scss/mixin.scss';

.air-datepicker{
    font-family: $first-font;
    padding: 15px 20px 4px 16px;
    border: 1px solid $dark25;
    border-radius: 4px;
    background: #fff;
    z-index: 5;
    box-sizing: border-box;
    width: 320px;

    &--navigation{
        padding-bottom: 27px;
    }

    &--pointer{
        display: none;
    }

    &-buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }

    &-button{
        @include h3;
        color: $purple;

        &:hover{
            color: $dark50;
        }
    }

    &-nav{
        &--title{
            @include h2;
            color: $dark100;
            
            i {
                color: $dark100;
            } 
        }

        &--action{
            color: $purple;
        }
    }

    &-body{
        &--cells.-days-{
            grid-template-columns: repeat(7, 40px);
            grid-auto-rows: 40px;
        }

        &--day{
            &-names{
                margin: 8px 0 11px;
            }

            &-name{
                @include h3;
                text-transform: none;
                color: $purple;
            }
        }
    }

    &-cell{
        font-size: 12px;
        color: $dark50;

        &.-day-{
            &.-range-from-,
            &.-range-to-{
                border: none;
                background: $gradient-purple;
                border-radius: 22px;
                color: #FFFFFF;
            }
        }
        
        &.-focus-{
            background: $gradient-purple;
            color: #fff;
            border-radius: 22px;

            &.-in-range-{
                background: $gradient-purple;
            }
        }

        &.-selected-{
            background: $gradient-purple;
            border-radius: 22px;

            &.-focus-{
                background: $gradient-purple;
            }
        }

        &.-current-,
        &.-current-.-in-range-{
            background: $gradient-green;
            border-radius: 22px;
            color: #FFFFFF;
        }

        &:active{
            font-weight: bold;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 22px;
            color: white;
        }
        
        &.-in-range-{
            background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
        }
    }
}