@import '../../scss/vars.scss';
@import '../../scss/fonts.scss';
@import '../../scss/mixin.scss';

.field{
    h3{
        @include h3;
        margin-bottom: 5px;
    }
    &__input{
        border: 1px solid $dark25;
        border-radius: 4px;
        width: 100%;
        height: 44px;
        padding-left: 15px;

        &:hover, &:focus{
            border: 1px solid $dark50;
        }
    }
    &__dropdown{
        position: relative;
        .field__input{
            cursor: pointer;
        }
        &::after{
            content: url('../../assets/expand_more.svg');
            width: 44px;
            height: 44px;
            position: absolute;
            top: 27px;
            right: 0;
            text-align: center;
            cursor: pointer;
        }
    }
    &__arrow{
        position: relative;
        &::after{
            content: url('../../assets/arrow_forward.png');
            width: 44px;
            height: 44px;
            position: absolute;
            top: 31px;
            right: 0;
            text-align: center;
            cursor: pointer;
        }
    }
}
.radio__title{
    margin-bottom: 11px;
}
