@import '../../scss/vars.scss';
@import '../../scss/fonts.scss';
@import '../../scss/mixin.scss';

.field{
    h3{
        @include h3;
        margin-bottom: 5px;
    }
    &__input{
        border: 1px solid $dark25;
        border-radius: 4px;
        width: 100%;
        height: 44px;
        padding-left: 15px;

        &:hover, &:focus{
            border: 1px solid $dark50;
        }
    }
    &__dropdown{
        position: relative;
        .field__input{
            cursor: pointer;
        }
        &::after{
            font-family: "Material Icons";
            content: "expand_more";
            font-size: 24px;
            position: absolute;
            top: 30px;
            right: 10px;
            cursor: pointer;
        }
    }
    &__arrow{
        position: relative;
        &::after{
            font-family: "Material Icons";
            content: "arrow_forward";
            background: $gradient-purple;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
            position: absolute;
            top: 30px;
            right: 10px;
            cursor: pointer;
        }
    }
}
.radio__title{
    margin-bottom: 11px;
}