@import '../../scss/vars.scss';
@import '../../scss/mixin.scss';

.field{

    &__title{
        @include h3;
        margin-bottom: 5px;
    }
    
    &__input{
        @include body;
        border: 1px solid $dark25;
        border-radius: 4px;
        width: 100%;
        height: 44px;
        padding-left: 15px;
        cursor: pointer;

        &:hover, &:focus{
            border: 1px solid $dark50;
        }
    }

    &__dropdown{
        position: relative;

        &::after{
            font-family: "Material Icons";
            content: "expand_more";
            font-size: 24px;
            line-height: 24px;
            position: absolute;
            top: 30px;
            right: 10px;
            cursor: pointer;
        }
    }

    &__arrow{
        position: relative;

        &::after{
            font-family: "Material Icons";
            content: "arrow_forward";
            background: $gradient-purple;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
            line-height: 24px;
            position: absolute;
            bottom: -2px;
            right: 10px;
            cursor: pointer;
        }
    }
}