include ../button/button

mixin header(nav,user)
    header.header
        .header__container
            a.header__logo(href="index.html" alt="Toxin")
                img.header__img(src=require("/src/components/header/img/logo-with-text.svg"))
            button.js-header__burger.material-icons menu
            nav.header__nav
                ul.header__nav-site
                    each item in nav
                        if item.sub
                            li.header__item
                                a.header__link.header__item_sub-menu(href="/change-me")=item.name
                                    span.material-icons expand_more
                        else
                            li.header__item
                                a.header__link(href="/change-me")=item.name
                ul.header__nav-user
                    if user
                        li.header__item
                            a.header__user-link=user
                    else
                        li.header__item
                            +button({theme:"with-border",text:"Войти",classes:"button-with-border_small",href:"sign-in.html"})
                        li.header__item
                            +button({text:"Зарегистрироваться",classes:"button-with-background_small", href:"registration.html"})