mixin header(nav,user)
    .header
        nav.header__nav
            a.header__logo(href="")
                img.header__img(src="logo-with-text.svg")
            ul.header__nav-site
                each item in nav
                    if item.sub
                        li.header__nav-site-item
                            a.header__item.header__item-sub-menu(href="#")
                                span=item.name
                                span.material-icons expand_more
                    else if item.bold
                        li.header__nav-site-item.header__nav-site-item-bold
                            a.header__item(href="#")=item.name
                    else
                        li.header__nav-site-item
                            a.header__item(href="#")=item.name
            ul.header__nav-user
                if user
                    li.header__nav-user-item_auth
                        a.header__nav-user-link=user
                else
                    li.header__nav-user-item
                        +button({text:"Войти"})
                    li.header__nav-user-item2
                        +button({text:"Зарегистрироваться"})