mixin type (items=[])
    .type 
        each item in items
            .type__item(class=item.class)
                    .type__heading=item.heading
                    .type__description=item.description