mixin type (items=[])
    .type 
        each item in items
            .type__item
                    div(class=item.class)
                        div.type__heading=item.heading
                        div.type__description=item.description