@import '../../scss/vars.scss';
@import '../../scss/fonts.scss';
@import '../../scss/mixin.scss';


.type{
    margin-right: 151px;
    width: 431px;

    &__type-h1{
        display:flex;
        gap:30px;
        @include h1;
    }
    &__type-h2{
        display:flex;
        gap:30px;
        @include h2;
    }
    &__type-h3{
        @include h3;
        display:flex;
        gap:30px;
    }
    &__type-body{
        display:flex;
        gap:30px;
        width: 370px;
    }
    &__heading{
        color: $dark25;
        text-align: right;
        width: 31px;
        font-weight:400;
    }
    &__item{
        margin-bottom:51px;
    }
}