@import '../../scss/vars.scss';
@import '../../scss/fonts.scss';
@import '../../scss/mixin.scss';


.type{
    margin-right: 151px;
    width: 431px;

    &__type-h1{
        display:flex;
        gap:30px;
        color:$dark100;
        line-height: 29px;
        font-size:24px;
        .type__description{
            font-weight: 700;
        }
    }
    &__type-h2{
        display:flex;
        gap:30px;
        line-height: 23.16px;
        color:$dark100;
        font-size:19px;
        .type__description{
            font-weight: 700;
        }
    }
    &__type-h3{
        @include h3;
        display:flex;
        gap:30px;
        .type__description{
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    &__type-body{
        display:flex;
        gap:30px;
        font-size:14px;
        line-height: 24px;
        width: 370px;
        .type__description{
            color: $dark75;
        }
    }
    &__heading{
        color: $dark25;
        text-align: right;
        width: 31px;
        font-weight:400;
    }
    &__item{
        margin-bottom:51px;
    }
}