.bullet-list{
    list-style: none;
    max-width: 262px;
    
    &__item{
        padding:0 0 10px 19px;
        position: relative;
        @include body;
    }

    &__item::before{
        content: '';
        width: 10.43px;
        height: 10px;
        border-radius: 50%;
        background-color:  $dark25;
        position: absolute;
        display: inline-block;
        left: -1px;
        top: 7px;
    }
}