@import '../../scss/vars.scss';
@import '../../scss/mixin.scss';

.bullet-list{
    list-style: none;
    max-width: 262px;
    
    &__item{
        padding-left: 20px;
        margin-bottom: 10px;
        position: relative;
        @include body;

        &:last-child{
            margin-bottom :20px
        }
    }

    &__item::before{
        content: '';
        width: 10.43px;
        height: 10px;
        border-radius: 50%;
        background-color:  $dark25;
        position: absolute;
        display: inline-block;
        left: -1px;
        top: 7px;
    }
}