.footer{
    &__main{
        margin: 100px 140px 100px 140px;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        
    }

    &__nav{
        display: grid;
        grid-template-columns: 1.35fr 1fr 1fr;
    }

    &__description{
        width: 260px;
        margin-right: 20px;
    }

    &__title{
        margin-bottom: 21px;
    }

    &__item{
        margin-bottom: 25px;
    }

    &__subscription{
        width: 260px;
        margin-left: 20px;
    }
    
    &__text{
        font-size: 14px;
        line-height: 24px;
    }

    &__img{
        margin-bottom: 20px;
    }
    &__sub{
        margin: 100px 140px 100px 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social-list{
        display: flex;
        align-items: center;
        &-item{
            margin-left: 20px;
        }
    }
    
    &-small__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &-small__social-list{
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &-item{
            margin-left: 20px;
        }
    }
    &-small__description{
        margin-bottom: 20px;
    }
}