@import '../../scss/mixin.scss';
@import '../../scss/vars.scss';

@import '../rate/rate.scss';

.room-info{
    $root: &;

    &__wrapper{
        box-shadow: 0 0 1.5625rem $dark25;
        background: #FFFFFF;
        text-decoration: none;
        -webkit-box-shadow: 0 0 1.5625rem $dark25;
        border-radius: 5px;
    }

    &__filter-btn{
        background-image: $gradient-purple;
        border: solid;
        border-radius: 5px;
    }

    &__img{
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    &__title{
        display: flex;
        justify-content: space-between;
        padding: 0 0 16px 0;
        border-bottom: 1px dotted rgba(31, 32, 65, 0.1);
        align-items: baseline;
    }

    &__move{
        position: relative;
        margin-bottom: 10px;

        &:hover{
            #{$root}__buttons {
                opacity: 1;
            }
        }
        
    }

    &__stats{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button-img{
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;        
    }

    &__buttons{
        opacity: 0;
        transition: opacity .3s ease-in ;
    }

    &__fogging{
        position: absolute;
        width: 42px;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        display: flex;
        align-items: center;
        

        &_left{
            left:0;
            top: 0;
            border-top-left-radius: 5px;
        }

        &_right{
            right: 0px;
            top: 0;
            transform: rotate(180deg);
            border-bottom-left-radius: 5px;
        }
    }

    &__button_left{
        position: absolute;
        transform: rotate(90deg);
        color: #FFFFFF;
        background: none;
        left: 10px;    
    }

    &__container{
        padding: 10px 20px;
    }

    &__button_right{
        position: absolute;
        transform: rotate(90deg);
        color: #FFFFFF;
        background: none;
        right: 10px;
    }

    &__number{
        @include h3;

        &_icon{
            font-size: 14px;
            line-height: 29.26px;
            margin-right: 5px;
        }
        
        &_value{
            font-size: 19px;
            line-height: 17.07px;
            
        }

        &_text{
            font-size: 12px;
            line-height: 14.63px;
            color: $purple;
            margin-left: 10px;
        }
    }
    &__price{
        color: $dark50;
        line-height: 18px;
  
        &_cost{
            font-weight: 700;
            margin-right: 5px;
        }

        &_date{
            font-size: 12px;
        }
    }

    &__value{
        font-weight: 700;
        margin-right: 5px;
    }

    &__total-reviews{
        line-height: 18px;
        padding-bottom: 10px;
        color: $dark50;
    }

    &__rating{
        margin-left: 5px;
    }
}