@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

@font-face{
    font-family: 'Montserrat';
    src: 
    url('../../../src/fonts/montserrat-regular/Montserrat-Regular.woff2') format('woff2'),
    url('../../../src/fonts/montserrat-regular/Montserrat-Regular.woff') format('woff'),
    url('../../../src/fonts/montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
    url('../../../src/fonts/montserrat-regular/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: 
    url('../../../src/fonts/montserrat-bold/montserrat_bold.woff2') format('woff2'),
    url('../../../src/fonts/montserrat-bold/montserrat_bold.woff') format('woff'),
    url('../../../src/fonts/montserrat-bold/montserrat_bold.ttf') format('truetype'),
    url('../../../src/fonts/montserrat-bold/montserrat_bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Quicksand';
    src: 
    url('../../../src/fonts/quicksand-bold/Quicksand-Bold.woff2') format('woff2'),
    url('../../../src/fonts/quicksand-bold/Quicksand-Bold.woff') format('woff'),
    url('../../../src/fonts/quicksand-bold/Quicksand-Bold.ttf') format('truetype'),
    url('../../../src/fonts/quicksand-bold/quicksand-Bold.svg') format('svg');
    font-weight: 700
    ;
}