@font-face{
    font-family: "montserrat-regular";
    src: 
    url('../fonts/montserrat-regular/Montserrat.ttf'),
    url('../fonts/montserrat-regular/Montserrat.woff'),
    url('../fonts/montserrat-regular/Montserrat.svg');
    font-weight: normal;
    font-style: normal;
}