@import './fonts.scss';
@import './reset.scss';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: $first-font;
    color: $dark75;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

body{
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
}

main{
    flex: 1 0 auto;
}

header{
    flex: 0 0 auto;
}

