$first-font: 'Montserrat',sans-serif, Arial;
$second-font: 'Quicksand';
$dark100: #1F2041;
$dark75: rgba(#1f2041, 0.75);
$dark50: rgba(#1f2041, 0.50);
$dark25: rgba(#1f2041, 0.25);
$dark5: rgba(#1f2041, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;