@import '../../scss/vars.scss';
@import '../../scss/mixin.scss';
@import '../../scss/styles.scss';

@import '../../components/calendar/calendar.scss';

h3{
    @include h3;
}

.cards__img{
    margin: 15px 0 72px 45px;
}
.cards__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1130px;
}
.cards__column-with-calendar{
    width: 320px;
}
.calendar{
    width: 100%;
}
.booking__container{
    width: 380px;
}
.room-info__item{
    width: 270px;
}